<h3>User Dashboard</h3>
<h5>UserData</h5> 
<hr>
  <div class="form-group mt-2">
    <label>Username</label>
    <p>{{appUsername}}</p>
  </div>
  <div class="form-group mt-2">
    <label>Password</label>
    <app-user-change-password></app-user-change-password>
  </div>
  <hr>
  <div class="form-group mt-2">
    <label>Address Line 1</label>
    <p>{{appUserData.Line1}}</p>
  </div>
  <div class="form-group mt-2">
    <label>Address Line 2</label>
    <p>{{appUserData.Line2}}</p>
  </div>
  <div class="form-group mt-2">
    <label>Address Line 3</label>
    <p>{{appUserData.Line3}}</p>
  </div>
  <div class="form-group mt-2">
    <label>City</label>
    <p>{{appUserData.City}}</p>
  </div>
  <div class="form-group mt-2">
    <label>Zip Code</label>
    <p>{{appUserData.ZipCode}}</p>
  </div>
  <div class="form-group mt-2">
    <label>Country</label>
    <p>{{appUserData.Country}}</p>
  </div>
  <button (click)="changeUserAddress()" class="btn btn-dark">Change Address</button>
